Repository voxpupuli/puppet-zram_generator, pull requests merged in 2024-06, with the labels that each got.

#17 modulesync 8.0.1
  .msync.yml
  .overcommit.yml
  .rspec
  .rspec_parallel
  Gemfile
Labels: modulesync

#19 Support of hash of zram_generator::zram instances
  README.md
  REFERENCE.md
  manifests/init.pp
  metadata.json
  spec/classes/init_spec.rb
Labels: enhancement, backwards-incompatible

#20 Drop CentOS 8 support
  metadata.json
Labels: backwards-incompatible
